body {
  background-color: #235789;
}
h1{
  color: #c1292e;
    font-size: 200%;
  background-color: transparent;
  letter-spacing: -2px;
}
  img {
 width:25%;
  }
p { 
  font-size: 1000%; 
 color: #f1d302;
}
